{% extends "baseview/base.html" %}{% load static %}{% load i18n %}
{% block sb_admin_title %}{% trans 'Services Categories' %}{% endblock sb_admin_title %}

{% block sb_admin_breadcrumb_active %}<li class="breadcrumb-item active">
      {% trans 'Services Categories' %}
 </li>{% endblock sb_admin_breadcrumb_active %}
{% block sb_admin_content %}
<h1>{% trans 'Services Categories' %}</h1>
<hr>
<p>This is a great starting point for new Services Categories pages.</p>

{% endblock sb_admin_content %}
