{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block sb_admin_description %}{% endblock sb_admin_description %}">
  <meta name="author" content="{% block sb_admin_author %}{% endblock %}">
  <title>{% block title %}{% trans "MV Ecom Admin Dashboard" %}{% endblock %}</title>

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">

  {% if LANGUAGE_CODE == 'ar' %}
    <link href="{% static "css/bootstrap-rtl.css" %}" rel="stylesheet">
    <link href="{% static "css/sb-admin-rtl.css" %}" rel="stylesheet">  
  {% endif %}

  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/fontawesome-free/css/all.min.css"  %}" rel="stylesheet">

  <!-- Page level plugin CSS-->
  <link href="{% static "vendor/datatables/dataTables.bootstrap4.css" %}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% block sb_admin_custom_css %}{% endblock sb_admin_custom_css %}
</head>

<body id="page-top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
  <a class="navbar-brand" href="{% block sb_admin_header_url %}{% url "mv_admin_start" %}{% endblock sb_admin_header_url %}">{% block sb_admin_header %}{% trans "MV Ecom Admin" %}{% endblock sb_admin_header %}</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
  {% block sb_admin_navbar_right %}

  <!-- Navbar Search -->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <div class="input-group">
      <input type="text" class="form-control" placeholder={% trans "Search for..." %} aria-label={% trans "Search" %} aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown no-arrow mx-2">
      <a class="nav-link dropdown-toggle" href="#" id="langsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-globe fa-fw"></i>
        <div class="output"><span class="badge badge-danger">
          {% if LANGUAGE_CODE == 'ar' %}
            ع
          {% else %}
            En
          {% endif %}
        </span></div>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="langsDropdown">
        <a>
          <form name="setLangEnglish" method="post" action="/i18n/setlang/">{% csrf_token %}
            <input name="next" type="hidden" value="/" />
            <input type="hidden" name="language" value="en"/>
            <input class="dropdown-item" type="submit" alt="English" name="submit" value="English"/>
          </form>
        </a>
        <a>
          <form name="setLangArabic" method="post" action="/i18n/setlang/">{% csrf_token %}
            <input name="next" type="hidden" value="/" />
            <input type="hidden" name="language" value="ar"/>
            <input class="dropdown-item" type="submit" alt="Arabic" name="submit" value="العربية"/>
          </form>
        </a>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow mx-2">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <div class="output"><span class="badge badge-danger">9+</span></div>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
        <a class="dropdown-item" href="#">{% trans "Action" %}</a>
        <a class="dropdown-item" href="#">{% trans "Another action" %}</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">{% trans "Something else here" %}</a>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow mx-2">
      <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-envelope fa-fw"></i>
        <div class="output"><span class="badge badge-danger">7</span></div>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
        <a class="dropdown-item" href="#">{% trans "Action" %}</a>
        <a class="dropdown-item" href="#">{% trans "Another action" %}</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">{% trans "Something else here" %}</a>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow mx-2">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="{% url "mv_admin_us_profile" %}">{% trans "Profile" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_us_settings" %}">{% trans "Settings" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_us_logs" %}">{% trans "Activity Log" %}</a>
        <div class="dropdown-divider"></div>
        <a>
          <form name="LogoutUser" method="post" action="{% url "mv_admin_logout" %}">{% csrf_token %}
            <input name="next" type="hidden" value="/" />
            <input type="hidden" name="language" value="en"/>
            <input class="dropdown-item" type="submit" alt="Logout" name="submit" value="{% trans "Logout" %}"/>
          </form>
        </a>
      </div>
    </li>
  </ul>
  {% endblock sb_admin_navbar_right %}
</nav>

<!-- wrapper -->
<div id="wrapper">
  <!-- Sidebar -->
  <ul class="nav sidebar navbar-nav">
    {% block sb_admin_sidebar %}
    <li class="nav-item {% if nav_active == 'dashboard' %} active {% endif %}">
      <a class="nav-link" href="{% url "mv_admin_dashboard" %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>{% trans "Dashboard" %}</span>
      </a>
    </li>
    <li class="nav-item {% if nav_active == 'users' %} active {% endif %}">
      <a class="nav-link" href="{% url "mv_admin_users" %}">
        <i class="fas fa-fw fa-user-friends"></i>
        <span>{% trans "Users" %}</span>
      </a>
    </li>
    <li class="nav-item dropdown {% if nav_active == 'services' %} active {% endif %}">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-taxi"></i>
        <span>{% trans "Services" %}</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        {% comment %} <h6 class="dropdown-header">Login Screens:</h6> {% endcomment %}
        <a class="dropdown-item" href="{% url "mv_admin_services" %}">{% trans "Services" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_srv_categories" %}">{% trans "Categories" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_srv_providers" %}">{% trans "Providers" %}</a>
      </div>
    </li>
    <li class="nav-item {% if nav_active == 'customers' %} active {% endif %}">
      <a class="nav-link" href="{% url "mv_admin_customers" %}">
        <i class="fas fa-fw fa-user-check"></i>
        <span>{% trans "Customers" %}</span>
      </a>
    </li>
    <li class="nav-item dropdown {% if nav_active == 'vendors' %} active {% endif %}">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-store"></i>
        <span>{% trans "Vendors" %}</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "mv_admin_vendors" %}">{% trans "Vendors" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_vnd_ratings" %}">{% trans "Ratings" %}</a>
      </div>
    </li>
    <li class="nav-item dropdown {% if nav_active == 'companies' %} active {% endif %}">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-building"></i>
        <span>{% trans "Companies" %}</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "mv_admin_cmp_categories" %}">{% trans "Categories" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_companies" %}">{% trans "Shops" %}</a>
      </div>
    </li>
    <li class="nav-item dropdown {% if nav_active == 'products' %} active {% endif %}">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-gifts"></i>
        <span>{% trans "Products" %}</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "mv_admin_prd_categories" %}">{% trans "Categories" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_products" %}">{% trans "Items" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_prd_ratings" %}">{% trans "Items" %}</a>
      </div>
    </li>
    <li class="nav-item dropdown {% if nav_active == 'promotions' %} active {% endif %}">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-tags"></i>
        <span>{% trans "Promotions" %}</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "mv_admin_prm_discounts" %}">{% trans "Discounts" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_prm_promocodes" %}">{% trans "Promo-codes" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_prm_badges" %}">{% trans "Badges" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_prm_advertising" %}">{% trans "Advertising" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_promotions" %}">{% trans "Promotions" %}</a>
      </div>
    </li>
    <li class="nav-item dropdown {% if nav_active == 'finance' %} active {% endif %}">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-cash-register"></i>
        <span>{% trans "Finance" %}</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "mv_admin_finance" %}">{% trans "Overview" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_fin_orders" %}">{% trans "Orders" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_fin_payments" %}">{% trans "Payments" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_fin_delivery" %}">{% trans "Delivery" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_fin_returns" %}">{% trans "Returns" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_fin_refunds" %}">{% trans "Refunds" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_fin_methods" %}">{% trans "Payment Methods" %}</a>
      </div>
    </li>
    <li class="nav-item dropdown {% if nav_active == 'support' %} active {% endif %}">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-headset"></i>
        <span>{% trans "Support" %}</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "mv_admin_support" %}">{% trans "Overview" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_spt_complaints" %}">{% trans "Complaints" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_spt_suggestions" %}">{% trans "Suggestions" %}</a>
      </div>
    </li>
    <li class="nav-item dropdown {% if nav_active == 'security' %} active {% endif %}">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-user-lock"></i>
        <span>{% trans "Security" %}</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "mv_admin_security" %}">{% trans "Overview" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_sec_groups" %}">{% trans "Groups" %}</a>
        <a class="dropdown-item" href="{% url "mv_admin_sec_permissions" %}">{% trans "Permissions" %}</a>
      </div>
    </li>
    <li class="nav-item dropdown {% if nav_active == 'reports' %} active {% endif %}">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-file-alt"></i>
        <span>{% trans "Reports" %}</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <a class="dropdown-item" href="{% url "mv_admin_reports" %}">{% trans "Overview" %}</a>
      </div>
    </li>
    
    {% endblock sb_admin_sidebar %}
  </ul>

  <div id="content-wrapper"><!-- content wrapper -->
    <div class="container-fluid"><!-- cfluid -->
  {# <div id="page-wrapper"> #}
  {# <div class="container-fluid"> #}
      <!-- Page Heading -->

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          {% block sb_admin_breadcrumb %}<i class="fa fa-dashboard"></i>  <a href="{% url "mv_admin_start" %}">{% trans "MV Ecom Admin" %}</a>{% endblock sb_admin_breadcrumb %}
        </li>
        {% block sb_admin_breadcrumb_active %}
        {% endblock sb_admin_breadcrumb_active %}
      </ol>
      {% block sb_admin_content %}
      
      {% endblock sb_admin_content %}
    </div><!-- cfluid -->
  </div><!-- content wrapper -->
  <!-- Sticky Footer -->
  <footer class="sticky-footer">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>{% block sb_admin_copyright %}{% blocktrans %}Copyright © bugsquad.co 2020{% endblocktrans %}{% endblock sb_admin_copyright %}</span>
      </div>
    </div>
  </footer>

</div><!-- wrapper end -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- jQuery -->
<script src="{% static "js/jquery.js"%}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js"%}"></script>
{% block sb_admin_custom_js %}{% endblock sb_admin_custom_js %}
<!-- Bootstrap core JavaScript-->
<script src="{% static "vendor/jquery/jquery.min.js"%}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static "vendor/jquery-easing/jquery.easing.min.js"%}"></script>

<!-- Page level plugin JavaScript-->
<script src="{% static "vendor/chart.js/Chart.min.js"%}"></script>
<script src="{% static "vendor/datatables/jquery.dataTables.js"%}"></script>
<script src="{% static "vendor/datatables/dataTables.bootstrap4.js"%}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static "js/sb-admin.min.js"%}"></script>

<!-- Demo scripts for this page-->
<script src="{% static "js/demo/datatables-demo.js"%}"></script>
<script src="{% static "js/demo/chart-area-demo.js"%}"></script>


</body>

</html>
